@import "colors/dark.css";
@import "colors/light.css";

/* Hide the useless and thick sidebar header */
#sidebar-header,
#sidebar-panel-header {
    display: none;
}

#sidebar-splitter {
    background: var(--gnome-sidebar-background) !important;
    border: 0 !important;
    border-right: none !important;
    width: 8px !important; /* Basically functions as padding-right for sidebar */
}
.sidebar-splitter {
    border: none;
    border-style: none;
}

/* Hidden state: Hide native tabs strip */
#main-window[titlepreface*="​"] #TabsToolbar,
#main-window[titlepreface*="​"] .toolbar-items {
    /* animation */
    /* property name | duration | easing function | delay */
    transition:
        visibility 300ms step-end 450ms,
        opacity 150ms linear 0ms,
        height 450ms ease-out 0ms !important;

    /* functionality */
    visibility: hidden;
    height: 0;
    opacity: 0;
    /* Tabs were still interactive without the following */
    pointer-events: none;
}

#sidebar-box {
    transition:
        width 150ms,
        min-width 150ms ease-out !important;
    min-width: 150px;
}

/* it already hides, but for some reason it appears noticibly before the
sidebar and it's animation, this makes their appearance sync. */
#main-window:not([titlepreface*="​"]) #sidebar-box {
    visibility: collapse;
}

/* #main-window:not([titlepreface*="​"])*/
