#root {
    /* I tried to find official adwaita colours but everything uses
    very slightly different shades and I hate it. I decided it would be more
    simple to hardcode matching colours to what the headerbar already uses
    rather than some more complex setup where they share colours (which
    would then work with light theme as well) */
    --gnome-unfocused: rgb(36, 36, 36);
    --gnome-focused: rgb(54, 54, 54);
}

#sidebar-header {
    display: none;
}

/* Make the sidebar resize bar wider and correct colour */
#sidebar-splitter {
    background: rgb(48, 48, 48) !important;
    border: 0 !important;
    border-right: none !important;
    width: 8px !important; /* Basically functions as padding-right for sidebar */
}

.sidebar-splitter {
    border: none;
    border-style: none;
}

/* Hidden state: Hide native tabs strip */
#main-window[titlepreface*="​"] #TabsToolbar {
    /* height: 0 !important; */
    transition: visibility 0s linear 300ms, opacity 300ms !important;
    visibility: hidden;
    opacity: 0;
}

#main-window[titlepreface*="​"] .toolbar-items {
    height: 0;
    visibility: hidden;
    transition: visibility 0s linear 300ms, opacity 300ms, height 300ms !important;
    opacity: 0;
}

/* Hidden state: Fix z-index of active pinned tabs */
#main-window[titlepreface*="​"] #tabbrowser-tabs {
    z-index: 0 !important;
}
